<p-table [value]="oportunidades">

    <ng-template pTemplate="header">
        <tr>
            <th>Prospecto</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th> </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-oportunidade>
        <tr>
            <td> {{ oportunidade.nomeProspecto }} </td>
            <td> {{ oportunidade.descricao }} </td>
            <td> {{ oportunidade.valor }} </td>
            <td>
                <button pButton class="ui-button-warning" icon="pi pi-pencil" iconPos="left" title="Editar"
                    (click)="updateDialog(oportunidade)"></button>
                &nbsp;
                <button pButton class="ui-button-danger" icon="pi pi-trash" iconPos="left" title="Excluir"
                    (click)="excluir(oportunidade)"></button>
                &nbsp;
                <button pButton class="ui-button-info" icon="pi pi-window-maximize" iconPos="left" title="Visualizar"
                    (click)="showDialog(oportunidade)"></button>
            </td>
        </tr>
    </ng-template>

</p-table>

<br>

<div class="p-grid">
    <div class="p-col-1 p-offset-10">
         <button pButton class="ui-button-info" icon="pi pi-plus" label="Adicionar" (click)="addDialog()"></button>
    </div>
    <div class="p-col-1">
        <button pButton class="ui-button-info" icon="pi pi-file-pdf" label="Exportar" (click)="exportReport()"></button>
    </div>
</div>

<p-toast></p-toast>