<div class="p-grid">

    <div class="p-col-2">Prospecto</div>
    <div class="p-col-10">
        {{oportunidade.id}}
    </div>
    <div class="p-col-2">Prospecto</div>
    <div class="p-col-10">
        <input pInputText type="text" [(ngModel)]="oportunidade.nomeProspecto">
    </div>

    <div class="p-col-2">Descrição</div>
    <div class="p-col-10">
        <input pInputText type="text" [(ngModel)]="oportunidade.descricao">
    </div>

    <div class="p-col-2">Valor</div>
    <div class="p-col-10">
        <input pInputText type="text" [(ngModel)]="oportunidade.valor">
    </div>

    <div class="p-col-10 p-offset-2">
        <button pButton type="submit" icon="pi pi-check" label="Salvar" (click)="alterar(oportunidade)"></button>
    </div>

</div>